* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#resetButton {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

#gridContainer {
    display: flex;
    flex-direction: column;
}

#boxContainer {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 650px;
    width: 650px;
}